<template name="outSourceContent">
    <div class="col-xs-12 col-sm-6 col-sm-height">
        <div class="inside inside-full-height">
            <div class="block B2b">
                <div class="element B2b ghcite noBottomPadding no-responsive">
                    <div id="ads.300x250.1" class="general_banner_ad" style="padding:0px 0 11px">
                        <div id="google_ads_iframe_/6870/ynt.300x250.1.central_0__container__" style="border: 0pt none;">
                            <iframe id="google_ads_iframe_/6870/ynt.300x250.1.central_0" name="google_ads_iframe_/6870/ynt.300x250.1.central_0" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom;">

                            </iframe>
                        </div>
                        <iframe id="google_ads_iframe_/6870/ynt.300x250.1.central_0__hidden__" name="google_ads_iframe_/6870/ynt.300x250.1.central_0__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;">

                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>