td.user-info img {
    border: 1px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.table.userData > tbody > tr > td {
    vertical-align: middle;
}

ul.notifications {
    position: fixed;
}

.edit-user form {
    border: 1px solid #ddd;
    border-top: none;
    padding: 2em;
}

.edit-user form textarea {
    resize: vertical;
}
