<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Basic Form</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html#index/main">Home</a>
            </li>
            <li class="active">
                <strong>{{article.title}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="pull-right">
                                        <button class="btn btn-white btn-xs" type="button">Model</button>
                                        <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                        <button class="btn btn-white btn-xs" type="button">Modern</button>
                                    </div>
                                    <div class="text-center article-title">
                                        <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>

                                        <h1>
                                            {{title}}
                                        </h1>
                                    </div>
                                    {{article.content}}
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Tags:</h5>
                                            <button class="btn btn-primary btn-xs" type="button">Model</button>
                                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="small text-right">
                                                <h5>Stats:</h5>

                                                <div><i class="fa fa-comments-o"> </i> 56 comments</div>
                                                <i class="fa fa-eye"> </i> 144 views
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab">


                                <div class="feed-activity-list">
                                    <div ng-repeat="feedback in userFeedbacks">
                                        <div ng-include="'views/common/feed-element.html'"></div>
                                    </div>
                                    <button ng-click="onloadMoreFeedback()" class="btn btn-primary btn-block m-t"><i
                                            class="fa fa-arrow-down"></i> Show More
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
