@charset "utf-8";

/* ============================== 
	- Title: Political HTML5/CSS3 Responsive Page
	- Autor: IwThemes
	- Email: support@iwthemes.com
	- Version: 1.02
============================== 


---------------------- 
	Stylesheet Guide
-------------------------

01. Import styles
	-  bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).
	-  bootstrap-responsive.css	
	-  FancyBox Lightbox
	-  Slide - Responsiveslides
	-  font-awesome.min.css  - Icons
	-  CV Style
	-  Carousels Style
	-  Words Rotating
	-  Video Slider
	-  Animations
	-  Skins
	-  Google Fonts  - Open sans	
	
02. Basic Elements
	-  Standar Styles	
	-  Class and styles Generals
		-  clearfix
		-  Central Content
		-  Divisor Line
		-  Divisor Stars
		-  Bottons
		-  Borders

0.3.  Structure
	-  Menu
	-  Main Slide
		-  Social Icon - Main Slide - Sections social
	-  Bar - (register to vote, contact us, donate) 
	-  Specific Content
	-  Topics Carrousel Home 
	-  About Candidate
	-  Team
	-  Accordion
	-  Carrousel with Hover
	-  Testimonials
	-  Tabs		
	-  News Blog - Events	
	-  Blog Page
		- Calendar Style
	-  Contact
	-  Elements Page
	-  Footer
	-  Register User
	-  Error Page
	-  Counter
	-  toTop

*/

/* 
---------------------------------------------------------------------- 
	Import styles
---------------------------------------------------------------------- 
*/

/* bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).*/
@import url("bootstrap/bootstrap.css");
@import url("bootstrap/bootstrap-theme.css");

/*jquery.fancybox-1.3.1.css  - Lightbox*/
@import url("../js/fancybox/jquery.fancybox.css");

/*Slide*/
@import url("slide/responsiveslides.css");

/*Icons*/
@import url("icons/font-awesome.css");

/*MyCv*/
@import url("mycv/style.css");

/*Carousel topic*/
@import url("carrousel_topic/owl.carousel.css");
@import url("carrousel_topic/owl.theme.css");

/*Text Rotator*/
@import url("simpletextrotator.css");

/*Video Slider*/
@import url("flexslider/flexslider.css");
@import url("flexslider/slide_flex_style.css");

/*Theme Options*/
@import url("animations/animate.css");

/*Theme Options*/
@import url("skins/theme-options.css");

/*Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700);


/* Standar Styles -----------------------------------------------------*/
body{
	font-size: 15px;	
	line-height:26px;
	color:#000;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	text-size-adjust: 100%;
  	background-image: url(../img/bg-theme/04.png);
}
a:hover{
	text-decoration: none;
}
p{
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 23px;
}
h1 {font-size:24px;}
h2 {font-size:22px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	line-height: 30px;
	margin: 5px 0;	
	color: #fff;
	font-weight: bold;
}
ul li,
ol li{
	font-size: 13px;
	line-height: 23px;
}
blockquote p{
	font-size: 14px;
	line-height: 24px;
}
form input[type="submit"]{
	border: none;
}
iframe{
	border: none;
}
label{
	color: #2e2e2e;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	display: block;
	margin-bottom: 5px;
}
input{
	border: none;
}
.date{
	padding: 0;
}
.center{
	text-align: center;
}

/* Class and styles General ------------------------------------------*/
.clearfix{
	width:1px;
	height:1px;	
	display:block;
	clear:both;
	content:" , ";
}
.central_content{
	margin: 50px auto;
}
.divisor_line{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	height: 5px;
	width: auto;
	margin: 20px auto;
}
	/*Divisor Stars*/
	.sep {
		margin: 60px auto;
		height: 20px;
	}
	span.star {
		width: 70px;
		height: 20px;
		margin: 0 auto -3px auto;
		display: block;
	}
	span.rule-l {
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		height: 5px;
		float: left;
		width: 46%;
	}
	span.rule-r {
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		height: 5px;
		float: right;
		width: 44%;
	}
	span.stars img{
		width: auto;
		height: 20px;
	}

.button{
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
}
.button_url{
	display: inline-block;
	padding: 5px 14px 5px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button_url:hover,
.button:hover{
	color: #fff;
	opacity: 0.9;
}

.border_img img{
	padding: 5px;
	border: solid 1px #cdcdcd;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.border_img img:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.rslides iframe{
	width: 100%;
	height: 769px;
}

.fa-heart{
	color: #8a0010;
}
.fa-globe{
	color: #46a4da;
}
.fa-smile-o{
	color: #298b24;
}

.progress-striped .bar{
	font-weight: 600;
	line-height: 20px;
	padding-left:10px;
}

.alert{
	width: 300px;
	margin: 0 auto;
	padding: 10px;
}
.top{
	margin-top: 30px;
}
.text-overflow {
	overflow: hidden !important;
}
img{
	width: 100%;
}

/* Menu ---------------------------------------------------------------*/
.nav li a i{
	padding-right: 5px;
}
.sf-menu i{
	vertical-align: middle;
	padding-left: 5px;
}
.sf-menu ul i{
	padding-left: 0;
	padding-right: 5px;	
}
.sf-menu{
	margin: 0;
	padding: 31px 0;
	text-align: right;
}
.sf-menu ul{
	position:absolute;	
	list-style: none;
	text-align: left;
	top:-999em;
	width:160px;
	display:none;
	padding: 0;
	background-color:  rgba(0,0,0,0.6);
}
.sf-menu > li{
	position: relative;
	display: inline-block;
	list-style: none;
	padding-right: 4%;
}
.sf-menu > li:last-child{
	padding-right: 0;
}
.sf-menu > li > a {
	font-size: 15px;
	color: #fff;
}
.sf-menu > li > a:hover{
	opacity: 0.8;
}
.sf-menu li:hover ul,.sf-menu li.sfHover ul{
	top: 55px; 	
	left: 0px;
	 z-index:999;
}
.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{
	text-decoration:none;
}
.sf-menu li li a{
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	line-height:13px;
	font-size: 13px;
	color:#ccd4d8;
	overflow:hidden;
	padding:12px 15px;	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{
	color:#fff;			
}
.sf-menu li li{
	float:none;
	position:relative;	
}
.sf-menu li li a:hover{
	color: #fff;	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:160px;top:0;}

.simple_sections .sf-menu ul{
	background-color: #1D1D1D;
}
.sf-menu .donate{
	padding: 10px 20px;
}
.sf-menu li .active{
	padding: 5px 10px;
}
.sf-menu li .active i{
	padding-right: 10px;
}
.simple_sections .sf-menu li.sfHover ul{
	top: 40px;
}
.simple_sections .sf-menu li.sfHover ul ul{
	top: 0px;
}

/* Main ---------------------------------------------------------------*/
.main{
	position: relative;
}
.main_slide{
	height: 800px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	overflow: hidden;
}
.main_title{
	z-index: 3;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	bottom: 0;
	height: 100%;
	text-align: center;
}
.main_title.simple_sections{
	position: relative;
	background: rgba(0,0,0,0.5) url(../img/world-map.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.main_name{
	background-color:  rgba(0,0,0,0.6);
	z-index: 1;
	position: relative;
}
.main_title.simple_sections h1{
	text-align: left;
}
.main_name h1{
	font-size: 28px;
	padding: 20px 0;
	text-align: left;
	text-shadow: 3px 2px 5px #000;
	text-transform: uppercase;
	line-height: 38px;
}
.main_title h2,.main_title h3{
	text-transform: uppercase;
	text-shadow: 2px 1px 3px #000;
}
.main_title .text_rotate{
	font-size: 40px;
	padding-top: 100px;
	padding-bottom: 20px;
	line-height: 50px;
	width: 70%;
	margin: 0 auto;
}
.main_title p{
	color: #fff;
	padding-top: 56px;
	font-size: 18px;
}
#newsletterForm{
	background: rgba(0,0,0,0.4);
	border-radius: 5px;
	width: 525px;
	min-width: 480px;
	padding: 15px;
	margin: 20px auto;
}
.main_title #newsletterForm input[type="submit"] {
	width: 100px;
	padding: 7px 16px;
	color: #fff;
	height: 40px;
}
.main_title #newsletterForm input[type="email"] {
	width: 385px;
	padding: 5px 0px 5px 45px;
	font-size: 14px;
	margin-left: 0;
	height: 40px;
	border-radius: 5px;
	background: #ffffff url(../img/mail.png) no-repeat 12px;
}

	/* Social Icon - Main Slide - Sections social---------------------*/
	.social_icon{
		margin-top: 20px;
		padding: 0;
		margin: 0;
	}
	.simple_sections .social_icon a{
		font-size: 20px;
	}
	.simple_sections .social_icon{
		text-align: right;
		margin-top: 25px;
	}
	.simple_sections .main_name{
		padding: 15px 0;
	}
	.social_icon li{
		display: inline-block;
		border: 2px solid #D6D7D6;
		border-radius: 100%;
		line-height: 30px;
		width: 50px;
		height: 50px;
		margin-right: 5px;
	}
	.social_icon i {
		color: #fff;
		font-size: 22px;
		padding-top: 12px;
	}
	.social_icon li:hover{
		background-color: rgba(0,0,0,0.3);
	}

/* Bar - (register to vote, contact us, donate) ---------------------*/

.done_info{
	background-color:  rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	text-align: left;
	bottom: 0;
	left: 0;
	z-index: 10;
}
.done_info.sections{
	top: 0;
	position: relative;
	z-index: 0;	
	background-color:#1D1D1D;	
}
.done_info i{
	color: #fff;
	font-size: 70px;
}
.done_info .icon{	
	float: left;
	margin-right: 15px;
}
.done_info h2{
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 26px;
}
.done_info p{
	color: #fff;
	padding: 0;
	font-size: 13px;
	line-height: 22px;
}
.box{
	padding: 20px 0 10px 0;
}
.box.donate{
	background-color: #8a0010;
	padding: 20px 30px;
}

/* Specific Content  ------------------------------------------------*/
.central_content{
	opacity: 0;
}
.central_content h3{	
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
}
.central_content p, .central_content li{
	color: #5d5c5c;
}
.central_content iframe{
	width: 100%;
	height: 200px;
}
.central_content h4{
	color: #2e2e2e;
	font-size: 13px;
	line-height: 23px;
}
.central_content span{
	color: #2e2e2e;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
}

/* Topics Home  ------------------------------------------*/
#carrousel_topic {
	margin-top: 30px;
}
#carrousel_topic .border_img img{
	width: 100%;
}
.item_topics h3{
	margin-bottom: 0px;
	margin-top: 10px;
}
.item_topics{
	margin: auto 10px;
	padding:15px 10px 5px 10px;
	text-align: center;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.item_topics:hover{		
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
	cursor: pointer;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}	

/* About Candidate -------------------------------------------------*/
.candidate_about h1 span{
	border-left: 1px solid #131313;
	margin-left: 8px;
	padding-left: 10px;
	font-size: 14px;
}
.candidate_about h4{
	font-size: 15px;
	line-height: 25px;
	padding: 10px 0;
}
.candidate_about .list{
	margin: 10px 0 0 0;
	padding-left: 18px;
}
.candidate_about .list li{
	line-height: 27px;
}
#slider2 iframe{
	height: 450px;
}

/* Team -----------------------------------------------------------------*/
.team{
	padding-bottom: 20px;
}
ul.team li.item-team{
	margin: 0 10px;
	float: left;
}
.item-team{
	position: relative;
	overflow: hidden;
}
.item-team:hover .info-team{
	top: 30%;
	 -webkit-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}
.info-team{
	position: absolute;
	top: 75%;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}
.info-team h3 a,
.info-team h4,
.info-team h4 span{
	color: #fff;
}
.info-team h3 a{
	padding: 15px;
}
.info-team h3{
	padding: 5px;
}
.info-team h4 span{
	background: rgba(0,0,0,0.7);
	padding: 5px 20px 5px 20px;
	display: inline;
}
.overlay-team{
	background-color: #232323;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	padding: 10px 5%;
	margin-top: 10px;
}
.overlay-team p{
	color: #fff;
	font-size: 13px;
	line-height: 22px;
}
.overlay-team .social_icon li{
	width: 40px;
	height: 40px;
	text-align: center;
	display: inline-block;
}
.overlay-team .social_icon li i{	
	padding-top: 10px;
	font-size: 16px;
}

/* Accordion -----------------------------------------------------*/
.accordion-content{
	padding-right: 30px;
	margin-top: 15px;
}
.accordion-trigger{
	text-decoration: none;
	padding: 0 10px 5px 25px;
	cursor: pointer;
	border-bottom: 1px solid #e5e2e2;
}
.accordion-trigger.active{
	border-bottom: 1px solid #e5e2e2;	
}
.accordion-container{
	padding: 10px 0 5px 0;
}
.about_evolution h3,.testimonials h3{
	margin-bottom: 10px;
}

/* Carrousel with Hover -----------------------------------------------------*/
.slides-carousel{
	margin-top: 30px;
}
.slides-carousel li{
	position: relative;
	margin-right: 20px;
}
.slides-carousel li:hover a{
	display: inline;
}
.slides-carousel li a{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.slides-carousel li a{
	background: #999 url(../img/more.png) no-repeat center center;
	background: rgba(0,0,0,0.3) url(../img/more.png) no-repeat center center;
}
.slides-carousel img{
	width: 100%;
}

/* Testimonials --------------------------------------------------------------*/
.testimonials{	
	margin-top: 25px !important;
}
.testimonials h4{
	margin-bottom: -7px;
}
.testimonials_content{
	padding: 0 20px;
}
.testimonials_content h4{
	font-size: 17px;
	margin-bottom: 10px;
}
.testimonials_content h4 span{
	font-size: 12px;
	border-left: 1px solid #cdcdcd;
	margin-left: 10px;
	padding-left: 10px;
}
.testimonials img{
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 20px;
}

/* Tabs ----------------------------------------------------------------------*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;	
}
ul.tabs li {
	float: left;
	margin: 0 5px;
	padding: 0;
	line-height: 31px;
	border-left: none;
	border-bottom: none;
	overflow: hidden;
	position: relative;
}
ul.tabs li:first-child {
	border-left:  1px solid #6f010e;
	margin-left: 0;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	padding:0 15px;
	outline: none;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background-color: #6f010e;
}
#tab2{
	padding-top: 30px;
}
#tab2 .divisor_line{
	margin: 30px 0;
}
.tab_container {
	border-top: 2px solid #6f010e;
	padding-top:20px;
	clear: both;	
	width: 100%;
}

/* News - Events-------------------------------------------------------*/
.news_carrousel{
	margin-top: 20px;
}
.news_slider li{
	margin-bottom: 5px;
}
.item_news {
	margin: auto 10px;
}
.events{
	border: solid 1px #cdcdcd;
}
.events .content_event{	
	padding: 8px 11px 10px 0;
}
.events .date_info{
	padding: 13px;
	float: left;
	margin-right: 15px;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.events.list_events{
	margin-bottom: 30px;
}
.events.list_events .date_info{	
	padding: 8px 8px 10px 8px;
}
.content_event p{
	margin-bottom: 10px;
}
.events.list_events .content_event{
	padding: 34px 15px;
}
.events.list_events .button_url{
	background-color: #1D1D1D;
}
.events .date_info span{
	font-size: 53px;
	line-height: 65px;
	color: #fff;
}
.events .date_info p{
	text-transform: uppercase;
	color: #fff;
	line-height: 13px;
	margin-bottom: 15px;
}
.date li a{
	margin-top: 10px;
	color: #878585;
}
.date li{
	padding: 0 10px 0 0px;
	line-height: 25px;
	display: inline-block;
}
.date li span{
	padding: 0 5px;
}
.date li:hover{
	box-shadow: none;
	-webkit-box-shadow: none;
}
.detailed_events iframe{
	height: 400px;
}
.event_table p{
	margin-top: 14px;
	line-height: 11px;
	padding-left: 20px;
}
.list-time-area i{
	float: left;
	font-size: 40px;
	margin-right: 8px;
	color: #2e2e2e;
}
.list-time-area h4{
	line-height: 14px;
}
.list-time-area .divisor_line{
	margin: 0 auto 20px auto;
}

/* Blog Page---------------------------------------------------------------*/
.blog h3{
	font-size: 20px;
	line-height: 30px;
	margin-top: 15px;
}
.blog_slider li{
	height: 500px;
	margin-bottom: 20px;
}
.blog .divisor_line{
	margin: 40px auto;
}
.blog.border_img{
	margin-top: 10px;
}
.entry_lightbox .fancybox img:hover{
	opacity: 0.7;
}
aside{
	padding-left: 20px;
	padding-top: 5px;
}
.searchform input[type="text"]{
	height: 39px;
	width: 75%;
	padding: 5px 10px;
	border: 1px solid #cdcdcd;
}
.searchform .button{
	width: 23%;
	height: 43px;
	margin: 0;
}
aside .divisor_line{
	margin: 30px 0;
}
 #wp_calendar {
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
	/*Calendar Style*/
	#wp_calendar th {
		padding: 1px;
		height: 32px;
		line-height: 32px;
		border: 1px solid #ddd;
		background: #fff;
		color: #606163;
		text-align: center;
		font-size: 14px;
	}
	#wp_calendar caption{
		padding: 5px 0;
		font-size: 15px;
		color: #fff;
	}
	#wp_calendar tbody td {
		height: 32px;
		line-height: 32px;
		color: #5d5c5c;
		font-size: 14px;
		background-color: #f3f1f1;
		border: 1px solid #ddd;
	}
	#wp_calendar tfoot td {
		padding: 7px 0;
		background: #f9fafb;
	}
	#wp_calendar tbody td > a {
		display: block;
		color: #fff;
	}
	 #wp_calendar tbody td#today {
		background-color: #fdfdfd;
		border: 1px solid #d2d2d4;
	}
.gallery_blog img, .comment img{
	width: 100%;
}
.comment {
	padding: 10px 0 30px 0;
}
.comment img{
	float: left;
	margin-right: 20px;
	width: 100px;
}
.comment .title_comment span a {
	float: right;
}
.comment .title_comment{
	margin-left: 10px;
}
.comment .divisor_line{
	margin: 20px 0;
}
.post_message input[type="text"], .post_message input[type="email"] {
	width: 55%;
	margin-bottom: 20px;
	height: 38px;
	border: 1px solid #dad9d9;
	font-size: 13px;
	color: #898686;
	padding: 10px;
}
.post_message textarea {
	width: 65%;
	height: 150px;
	font-size: 13px;
	color: #898686;
	border: 1px solid #dad9d9;
	padding: 10px;
}
.post_message .button{
	padding: 0 20px;
	margin-top: 20px;
}
.left_sidebar aside{
	padding-right: 20px;
	padding-left: 0;
}

/* Contact-------------------------------------------------------------------*/
.contact_us .divisor_line{
	margin: 50px 0;
}
.contact_us iframe{
	height: 430px;
}
.send_message input[type="text"], .send_message input[type="email"] {
	width: 80%;
	margin-bottom: 20px;
	height: 38px;
	border: 1px solid #dad9d9;
	font-size: 13px;
	color: #898686;
	padding: 5px 10px;
}
.send_message textarea {
	width: 90%;
	height: 130px;
	font-size: 13px;
	padding: 5px 10px;
	color: #898686;
	border: 1px solid #dad9d9;
}
.send_message .button{
	padding: 0 20px;
	margin-top: 20px;
}
#result{
	font-size: 12px;
	line-height: 22px;
	color: #5d5c5c;
	margin-top: 20px;
}

/* Elements Page --------------------------------------------------------------*/
.elements button{
	margin-bottom: 20px;
}
.elements .top{
	margin-top: 30px;
}
.elements span{
	color: #fff;
}
.elements .date span {
	color: #8a0010;
}
.elements .accordion-trigger span{
	color: #1D1D1D;
}
div.show-grid [class*="col-md-"] span.show-grid-block {
	background-color: #dedede;
	line-height: 40px;
	min-height: 40px;
	text-align: center;
	border: 1px solid #FFF;
	display: block;
}
.icons a{
	color: #5d5c5c;
	font-size: 14px;
	line-height: 37px;
}
.icons a i{
	font-size: 17px;
	margin-right: 5px;
}

/* Footer-----------------------------------------------------------------------*/
footer{
	color: #eceaea;
	background: #1D1D1D url(../img/world-map.png) no-repeat;
	padding-top: 35px;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
footer h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
footer h2 i{
	font-size: 20px;
	padding-right: 5px;
}
footer p{
	color: #eceaea;
}
footer ul{
	padding: 0;
}
footer li{
	list-style: none;
}
footer .divisor_line{
	margin-top: 15px;
}
.tweet_even {
	font-size: 13px;
}
.contact p{
	margin-bottom:-1px;
}
.contact p:first-child{
	margin-top: 30px;
}
footer .tweets{
	margin-bottom: 25px;
}
footer .tweets span{
	color: #cfcfcf;
	font-style: italic;
	font-size: 11px;
	padding-left: 5px;
	text-decoration: underline;
}
footer .copry{
	text-align: center;
	margin-top: 25px;
	background: #000;
	background: rgba(0,0,0,0.2);
	padding: 20px 0 10px 0;
}
footer .copry p{
	padding-top: 20px;
}
footer .contact a{
	color: #eceaea;
	text-decoration: underline;
}
footer li{
	line-height: 30px;
}
footer .contact li{
	line-height: 35px;
}
footer .contact li i{
	margin-right: 10px;
}

/* Register User -----------------------------------*/
.register{
	padding: 50px 0 20px 0;
}
.register input{
	border-radius: 0;
	height: 35px;
	margin-bottom: 20px;
	padding: 5px 10px;
	font-size: 13px;
	width: 100%;
	border: 1px solid #dad9d9;
}
.register .btn{
	height: auto;
	width: auto;
	float: right;
	padding: 10px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.custom_input_file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.custom_input_file i{
	font-size: 8em;
}
.custom_input_file .input_file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}

/* Error Page ----------------------------------------------------*/
.error{
	padding: 80px 0;
}
.error h1{
	font-size: 55px;
	line-height: 65px;	
	text-shadow: 1px 0px 1px #000;
}
.icon-error i{
	font-size: 350px;
	color: #2e2e2e;
}
.error p{
	font-size: 25px;
	line-height: 35px;
}


/*  Counter ------------------------------------------------------------*/
.counter{
	text-align: center;
	margin-top: 30px;
}
.counter span{
	display: inline-block;
	margin: auto 5px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #232323;
}
.counter span small{
	font-size: 16px;
	font-weight: normal;
	color: #666;
}
.content-counter{
	background: #fff;
	width: 100%;
	position: relative;
}
.content-counter-home{
	height: 441px;
	border-bottom: 1px solid #dedede;
}
.content-counter p{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.content-counter .post-options{
	text-align: center;
	border-bottom: 1px solid #dedede;
	margin-bottom: 30px;
	font-size: 13px;
}
.content-counter .post-options li{
	display: inline-block;
	margin: 0 5px;
}
.content-counter .post-options li i{
	padding-right: 5px;
}
.content-counter .btn{
	border-radius: 0;
	border: 0;
	width: 100%;
	margin-top: 30px;
	padding: 25px auto;
	height: auto;
	position: relative;
}
.content-counter-home .btn{
	bottom: 0;
	position: absolute;
}
.content-counter .btn i{
	font-size: 25px;
	margin-left: 15px;
	padding-bottom: 5px;
}

/* toTop ---------------------------------------------------------*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left top;
}
#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;	
}
#toTop:active, #toTop:focus {
	outline:none;
}