<template name="errorLogData">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Error log</h3>
        </div>
        <div class="panel-body">
            <table class="table error-logs">
                <thead>
                <tr>
                    <th>Error</th>
                    <th>Type</th>
                    <th>Reason</th>
                    <th>Updated at</th>
                    <th>Show</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{errorLog.error}}</td>
                    <td>{{errorLog.errorType}}</td>
                    <td>{{errorLog.reason}}</td>
                    <td>{{formatDate errorLog.updatedAt 'long'}}</td>
                    <td>
                        {{#if errorLog.userLogId}}
                            <a href="/setting/logs/{{errorLog.userLogId}}" class="label label-default">User log</a>
                        {{/if}}
                        <a data-type="error" class="label label-{{#if errorLog.fixed}}success{{else}}danger{{/if}}">Fix
                            error</a>
                        <a href="/setting/errors" class="label label-info">Back</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">

                        <p>
                            <span class="label">Created at</span>
                            {{formatDate errorLog.createdAt 'long'}}
                        </p>

                        <pre>{{errorLog.stack}}</pre>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</template>