extends layout

block content
    div(class="jumbotron text-center")
        h1
            span(class="fa fa-lock")
            | Node Authentication
        p Login or Register with:
        a(href="/login", class="btn btn-default")
            span(class="fa fa-user")
            | Local Login
        a(href="/signup", class="btn btn-default")
            span(class="fa fa-user")
            | Local Signup
        a(href="/auth/facebook", class="btn btn-primary")
            span.fa.fa-facebook
            | Facebook
