extends layout

block content
    div.col-sm-6.col-sm-offset-3
        h1
            span.fa.fa-sign-in
            | Login

        if (message.length > 0)
            div.alert.alert-danger #{message}

        form(action="/login", method="post")

            div.form-group
                label(for="email") Email
                input(type="email", class="form-control", name="email", id="email")

            div.form-group
                label(for="password") Password
                input(type="password", class="form-control", name="password", id="password")

            button(type="submit", class="btn btn-warning btn-lg") Login
        hr
        p.login-opts Need an account?
            a(href="/signup") Signup
        p.login-opts Or go
            a(href="/") home
            | .