<template name="chatPanel">
    <div class="chat-users well">
        <div class="users-list">
            <div class="chat-user">
                <img class="chat-avatar" src="img/a4.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Karl Jordan</a>
                </div>
            </div>
            <div class="chat-user">
                <img class="chat-avatar" src="img/a1.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Monica Smith</a>
                </div>
            </div>
            <div class="chat-user">
                <span class="pull-right label label-primary">Online</span>
                <img class="chat-avatar" src="img/a2.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Michael Smith</a>
                </div>
            </div>
            <div class="chat-user">
                <span class="pull-right label label-primary">Online</span>
                <img class="chat-avatar" src="img/a3.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Janet Smith</a>
                </div>
            </div>
            <div class="chat-user">
                <img class="chat-avatar" src="img/a5.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Alice Smith</a>
                </div>
            </div>
            <div class="chat-user">
                <img class="chat-avatar" src="img/a6.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Monica Cale</a>
                </div>
            </div>
            <div class="chat-user">
                <img class="chat-avatar" src="img/a2.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Mark Jordan</a>
                </div>
            </div>
            <div class="chat-user">
                <span class="pull-right label label-primary">Online</span>
                <img class="chat-avatar" src="img/a3.jpg" alt="">
                <div class="chat-user-name">
                    <a href="#">Janet Smith</a>
                </div>
            </div>


        </div>
    </div>
</template>