<template name="userData">
    <h2>Users list</h2>

    <table class="table user-data">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Provider</th>
            <th>Last login</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each allUsers}}
            <tr class="{{#if isCurrentUser _id}}current{{/if}}">
                <td class="user-info">
                    <img src="{{profile.picture}}" alt="{{profile.name}}"/>
                    <a href="{{profile.link}}">{{profile.name}}</a>
                </td>
                <td>
                    <span class="label {{labelClass _id}}">{{profile.email}}</span>
                </td>
                <td>{{profile.provider}}</td>
                <td>{{status.lastLogin.date}}</td>
                <td>
                    <a href="/admin/users/{{_id}}" class="btn btn-info show-user">Show</a>
                    <a href="/admin/users/{{_id}}" class="btn btn-danger delete-user">Delete</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>