<template name="userData">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Users list
                <span class="badge">{{usersCount}}</span>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table user-data">
                <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Email</th>
                    <th>Provider</th>
                    <th>Last login</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each allUsers}}
                    <tr class="{{#if isCurrentUser _id}}current{{/if}}">
                        <td class="user-info"><img src="{{profile.picture}}" alt="{{profile.name}}"/></td>
                        <td class="user-info">
                            <a href="{{profile.link}}">{{profile.name}}</a>
                        </td>
                        <td>
                            <span class="label {{labelClass _id}}">{{profile.email}}</span>
                        </td>
                        <td>{{profile.provider}}</td>
                        <td>{{status.lastLogin.date}}</td>
                        <td>
                            <a href="/setting/users/{{_id}}" class="label label-info show-user">Show</a>
                            <a href="/setting/users/{{_id}}" class="label label-danger delete-user">Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</template>