td.user-info img {
    border: 1px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.table.user-data > tbody > tr > td {
    vertical-align: middle;
}

ul.notifications {
    position: fixed;
}

#login-dropdown-list {
    right: 0;
    left: auto;
}

div.show-user {
    margin-top: 2em;
}

div.show-user textarea {
    resize: vertical;
    white-space: normal;
}

div.show-user textarea[disabled="disabled"] {
    resize: none;
}

div.show-user form {
    border: 1px solid #ddd;
    border-top: none;
    padding: 2em 2em 1em;
}

div.show-user .footer {
    bottom: 40px;
}

label[for="user-roles"] {
    width: 100%;
}

.bg-yellow {
    background-color: #f39c12;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box > .inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.ion {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-person-add:before {
    content: "\f211";
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}