<template name="eventDetails">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="col-md-9 well">
            <div class="ibox">
                <div>
                    <h5>Event Detail</h5>
                </div>
                <div>
                    <div class="col-md-6 ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="/candidatesContent/marcorubio/151013_MarcoRubio_LiveDebate_Post-1-892x400.jpg">

                        <div class="m-t-lg"></div>
                        <div class="col-md-8 ibox-content no-padding border-left-right">
                            <strong>  <h1> The European languages - same family. </h1></strong>
                            <p>
                                One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                            </p>
                        </div>
                    </div>

                </div>
                <div>

                </div>
                <div class="col-lg-2">
                    <h5>Event Date</h5>
                    <div>
                        <strong>Business &amp; Entrepreneurs Workshop</strong><br>
                        <em>at Grand Hotel Italia</em><br>
                        <span class="small">10:00 AM - 21:00 PM</span>
                    </div>
                    <div class="m-t-lg"></div>
                    <div class="row">
                        <div class="pull-left">
                            <button id="eventInfo" class="btn btn-info btn-xs" type="button">Info</button>
                            <button class="btn btn-success btn-xs" type="button">Going</button>
                            <button class="btn btn-warning btn-xs" type="button">Tentative</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>