<template name="event">

    <div class="row">
        <div class="col-sm-6 well">
            <div class="thumbnail">
                <img class="img-responsive" alt="a" src="/candidatesContent/marcorubio/151013_MarcoRubio_LiveDebate_Post-1-892x400.jpg">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3><span class="label label-info">May 24</span></h3>
                </div>
                <div class="col-md-9">
                    <strong>Business &amp; Entrepreneurs Workshop</strong><br>
                    <em>at Grand Hotel Italia</em><br>
                    <span class="small">10:00 AM - 21:00 PM</span>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="pull-left">
                            <button id="eventInfo" class="btn btn-info btn-xs" type="button">Info</button>
                            <button class="btn btn-success btn-xs" type="button">Going</button>
                            <button class="btn btn-warning btn-xs" type="button">Tentative</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>