<template name="usersDashboard">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Users management</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{registeredUsers}}</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <a href="{{pathFor route='setting.users'}}" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{onlineUsers}}</h3>

                            <p>Online</p>
                        </div>
                        <div class="icon">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <a href="{{pathFor route='setting.users'}}" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>