<template name="userLogs">

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{userLogsCount}}</h3>

                <p>User Logs</p>
            </div>
            <div class="icon">
                <i class="glyphicon glyphicon-time"></i>
            </div>
            <a href="{{userLogsUrl}}" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

</template>