<template name="endUserContent">


    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-lg-4">

                {{> candidateProfileView}}

                <div class="row" style="height: 100px">
                    <br>
                </div>

                {{> outSourceContent}}

            </div>
            <div class="col-lg-6 ">
                {{#if true}}
                    {{> candidateProfileHeader}}
                    <!-- Main view  -->
                    {{> candidateInnerPage}}
                {{else}}

                    <!-- Main view  -->
                    {{> yield}}
                {{/if}}
            </div>
            <div class="col-lg-2 ">
                {{> chatPanel}}
            </div>
        </div>

    </div>

</template>