doctype html
html
    head
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='0')
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="container admin")
            block content