<div class="edit-user">
    <h2>Edit user profile</h2>
    {{findUser()}}
    <div class="content">
        <div class="body">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#user-info">Info</a></li>
                <li><a data-toggle="tab" href="#user-profile">Profile</a></li>
                <li><a data-toggle="tab" href="#user-access">Access</a></li>
            </ul>

            <form role="form">

                <div class="tab-content">
                    <edit-user-access></edit-user-access>
                    <edit-user-profile></edit-user-profile>
                    <edit-user-info></edit-user-info>
                </div>

            </form>

        </div>
        <div class="footer">
            <a ng-href="/users" class="btn btn-default">Cancel</a>
            <button rel="submit" type="submit" class="btn btn-info">Submit</button>
        </div>
    </div>
</div>