<template name="contentManagement">
    <div class="row-md-height">
        <br>
    </div>

    <div>
        <div class="ibox-tools">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newBlogModel">New</button>
        </div>
        <div class="modal inmodal" id="newBlogModel" tabindex="-1" role="dialog" aria-hidden="true">
            {{> createNewBlog}}
        </div>
    </div>
    <div class="ibox-content">
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-1">
                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
            </div>
            <div class="col-md-11">
                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                                  <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
            </div>
        </div>

        <div class="project-list">
            <table class="table table-hover">
                <tbody>
                  {{> content}}
                </tbody>
            </table>

        </div>
    </div>
</template>