<template name="userLogsData">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                User logs
                <span class="badge">{{userLogsCount}}</span>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table user-logs">
                <thead>
                <tr>
                    <th>User action</th>
                    <th>IP</th>
                    <th>Created at</th>
                    <th>Show</th>
                </tr>
                </thead>
                <tbody>
                {{> pages}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">{{> pagesNav}}</div>
    </div>
</template>

<template name="userLogsDataItem">
    <tr>
        <td>
            <p><a href="/setting/users/{{userId}}">
                <span class="label">{{logOwnerEmail userId}}</span></a></p>

            <p><a href="{{url}}">{{url}}</a></p>
        </td>
        <td>{{clientAddress}}</td>
        <td>{{formatDate createdAt 'long'}}</td>
        <td><a href="logs/{{_id}}" class="label label-{{#if isError _id}}danger{{else}}info{{/if}}">More info</a></td>
    </tr>
</template>