<template name="followers">

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Following</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Suggestion</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a5.jpg">


                                    <h3 class="m-b-xs"><strong>Sandra Smith</strong></h3>

                                    <div class="font-bold">Graphics designer</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a6.jpg">


                                    <h3 class="m-b-xs"><strong>Janet Carton</strong></h3>

                                    <div class="font-bold">CFO</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a1.jpg">


                                    <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

                                    <div class="font-bold">CEO</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a7.jpg">


                                    <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                                    <div class="font-bold">Graphics designer</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a2.jpg">


                                    <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                                    <div class="font-bold">Graphics designer</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a1.jpg">


                                    <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

                                    <div class="font-bold">CEO</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a3.jpg">


                                    <h3 class="m-b-xs"><strong>Monica Smith</strong></h3>

                                    <div class="font-bold">Marketing manager</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a4.jpg">


                                    <h3 class="m-b-xs"><strong>Michael Zimber</strong></h3>

                                    <div class="font-bold">Sales manager</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-lg-3">
                            <div class="contact-box center-version">

                                <a href="profile.html">

                                    <img alt="image" class="img-circle" src="img/a2.jpg">


                                    <h3 class="m-b-xs"><strong>John Smith</strong></h3>

                                    <div class="font-bold">Graphics designer</div>
                                    <address class="m-t-md">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>

                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                                    </div>
                                </div>

                            </div>

                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
</template>