<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">

                      <span class="clear">
                          <span>
                              <img alt="image" class="img-circle" src="{{picture}}">
                           </span>
                          <span class="block m-t-xs">
                              <strong class="font-bold">{{name}}</strong>
                             </span>
                          </span>
                    </div>
                </li>
                {{> activeMenu }}
            </ul>
        </div>
    </nav>
</template>