<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">

                    <span class="text-white">
                        <h3  class="font-bold">APPolitics</h3>
                    </span>

                </li>
                {{> activeMenu }}
            </ul>
        </div>
    </nav>
</template>