<template name="candidateProfileView">
    <div class="widget-head-color-box gray-bg p-lg text-center">
        <div class="m-b-md">
            <h2 class="font-bold no-margins">
                Marco Rubio
            </h2>
            <small>Run To President</small>
        </div>
        <img src="/candidatesContent/marcorubio/Marco-Rubio.gif" class="img-circle circle-border m-b-md" alt="profile">
        <div>
            <span>100 Blogs</span> |
            <span>610 Followers</span>
        </div>
    </div>
</template>