<template name="candidateProfileView">
    <!--    <div class="widget-head-color-box gray-bg p-lg text-center">
            <img src="/candidatesContent/marcorubio/marcoRobio2.jpg"  class="img-responsive" alt="profile">
            <div class="container col-sm-4 col-sm-offset-2">
                <div class="bottom">
                    <h1>TITLE HERE</h1>
                    <h2>Let us build your preview for free</h2>
                </div>
            </div>


        </div>-->
    <div class="row">
        <div class="row-height">
            <div class="col-xs-12 col-sm-6 col-sm-height" style=" background-color: #00c0ef">
                <div class="inside inside-full-height" >
                    <div class="content">
                        <img src="/candidatesContent/marcorubio/marcoRobio2.jpg" style="width: 100%" class="img-responsive" alt="profile">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-1 col-sm-height col-sm-bottom" style="background-color: red">
                <div class="inside inside-full-height">
                    <div class="content" >
                        <table width="100%">
                            <tr style="height: 33%">
                                <td >
                                    <span> Followers </span>
                                    <span> 25K </span>
                                </td>
                            </tr>
                            <tr style="height: 33%">
                                <td>
                                    Blogs
                                    86
                                </td>
                            </tr>
                            <tr style="height: 33%">
                                <td>
                                    Social
                                    <img src="img/social.jpg">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>