<template name="content">
    <tr>
        <td class="project-status">
            <span class="label label-primary">Active</span>
        </td>
        <td class="project-title">
            <a ui-sref="project_detail">Blog Title /Name</a>
            <br>
            <small>Created Data here</small>
        </td>
        <td class="project_detail">
            <div class="col-md-1 forum-info">
                    <span class="views-number">
                        1216
                    </span>
                <div>
                    <small>Views</small>
                </div>
            </div>
        </td>
        <td class="project_detail">
            <div class="col-md-1 forum-info">
                    <span class="views-number">
                        368
                    </span>
                <div>
                    <small>Topics</small>
                </div>
            </div>
        </td>
        <td class="project_detail">
            <div class="col-md-1 forum-info">
                   <span class="views-number">
                       140
                   </span>
                <div>
                    <small>Posts</small>
                </div>
            </div>
        </td>
        <td class="project-actions">
            <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
            <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
        </td>
    </tr>
</template>