<template name="createNewBlog">

    <div class="modal-dialog" style="width: 75%">
        <div class="modal-content animated fadeIn">
            <div class="modal-body">
                <div id="wizard">
                    <h1>First Step</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <h2>Hello in Step 1</h2>
                            <p>
                                This is the first content.
                            </p>
                        </div>
                    </div>

                    <h1>Second Step</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <h2>This is step 2</h2>
                            <p>
                                This content is diferent than the first one.
                            </p>
                        </div>
                    </div>

                    <h1>Third Step</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <h2>This is step 3</h2>
                            <p>
                                This is last content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-primary">Create & Publish</button>
            </div>
        </div>
    </div>

</template>