<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>

                <ul class="list-group">
                    <div endless-scroll="item in site.blog" class="list-group-item">
                        <a href="#index/blog:{{item.uuid}}"><div class="nav-label">{{item.name}}</div></a>
                        <!--<div ng-include="'views/common/blog.html'"></div>-->
                    </div>
                </ul>

                <div ng-click="loadMore()">
                    load more
                </div>



            </div>
        </div>
    </div>
</div>